body
{

}

.heading {
    width: 90%;
    text-align: center;
}

#restart {
    font-weight: bold;
}

h4 {
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

canvas {
display:block;
}